.chapter-detail {
  padding-top: 40px;
  font-size: 1.4rem;
  background-color: #111;
}

.reading-nav-bottom {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  padding: 10px 10px 0;
  overflow: hidden;
}
//css theme
.chapter-detail.dark {
  color: white;
  .chapter-header {
    background-color: var(--bg--chapter--dark--color);
  }
  .reading-control {
    background-color: var(--bg--chapter--dark--color);
  }
  .name {
    a {
      color: var(--orange--color);
      &:hover {
        color: var(--red--color);
      }
    }
  }
  .disabled {
    background-color: #aa9b9b;
  }
}
