.suggest-search {
  width: calc(455px - 15px); // 455 px là kích thước search box
  position: absolute;
  top: 32px;
  border-radius: 4px;
  z-index: 1;
  max-height: 375px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ebebeb;
  background-color: #fff;
  transition: all 0.3s ease-out;

  ul li {
    padding: 5px 0;
    list-style: none;
    display: block;
    border-bottom: 1px solid #ebebeb;
    a {
      display: flex;
      flex-direction: row;
    }
    img {
      margin: 0 5px 0 0;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    h3 {
      color: #333;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0;
      margin-right: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .info {
      margin-right: 5px;
      font-size: 1.2rem;
      color: #333;
      .last-chapter {
        display: block;
      }
      b {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 110%;
        color: #03f;
        display: block;
      }
      p {
        display: inline;
        font-style: italic;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .suggest-search {
    width: calc(320px - 15px);
  }
}
