.dot {
  width: 9px;
  height: 9px;
  background-color: #f33;
  border-radius: 100%;
  display: inline-block;
}

@keyframes sonar {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
.dot .ping {
  border: 1px solid #f33;
  width: 9px;
  height: 9px;
  opacity: 1;
  background-color: rgba(238, 46, 36, 0.2);
  border-radius: 100%;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-name: sonar;
  animation-name: sonar;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block;
  margin: -1px 0 0 -1px;
}

/* Logo */
@media (max-width: 767px) {
  .brand {
    float: left;
  }
}

/*Search Box*/
@media (max-width: 767px) {
  .search-box {
    display: none;
  }
}

/*Head*/
.navbar-mobile-toggle-btn,
.search-mobile-btn {
  display: none;
}

@media (max-width: 767px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
  }

  .auth-navigation,
  .user-menu {
    display: none;
  }

  .navbar-mobile-toggle-btn,
  .search-mobile-btn {
    display: block;
  }
}

/*Navbar */
.navbar {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    display: block;
  }
}

@media (max-width: 992px) {
  .category {
    display: none;
  }
}

@media (min-width: 992px) {
  .genre-select-wrapper {
    display: none;
  }
}

.genre-select {
  font-size: 16px;
  color: #555;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:
    border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}
.genre-select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

/*Skill box*/

.skill-box .process {
  width: 100%;
  height: 15px;
  background: #cccccc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3px;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}

.skill-box .process-bar {
  display: block;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ffd33d,
    #ea4aaa 17%,
    #b34bff 34%,
    #01feff 51%,
    #ffd33d 68%,
    #ea4aaa 85%,
    #b34bff
  );
  background-size: 300% 100%;
  animation: processAnimation 2s linear infinite;
  text-align: center;
  line-height: 13px;
  font-size: 12px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
}

@keyframes processAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*genre menu*/
@media (max-width: 767px) {
  .genre-menu {
    width: 100%;
    background-color: transparent;
    border-top: 1px solid #fff;
    position: static;
  }

  .menu-item {
    color: white;
  }

  .menu-item:hover {
    background-color: inherit;
    color: #d0b32e;
  }

  a {
    text-transform: capitalize;
  }
}

/*sort menu*/

@media (max-width: 767px) {
  .sort-menu {
    width: 100%;
    background-color: transparent;
    position: static;
  }

  .menu-item {
    color: white;
  }

  .menu-item a {
    text-transform: capitalize;
  }

  .menu-item a:hover {
    background-color: white !important;
    color: #d0b32e;
  }
}

/*scrollbar-hide*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.nav-list {
  display: flex;
}

.nav-list li {
  color: #333;
}

.nav-list li:hover {
  background-color: #fff;
  color: #ae4ad9;
}

.nav-list.dark li:hover {
  background-color: #333;
  transition: all 0.2s;
}

/*Nav bar*/
.nav-list .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-right: 1px solid #ddd;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
}

.nav-list li:first-child .nav-link {
  padding: 0 15px;
}

.nav-list a.dark {
  border-right: 1px solid #ddd;
  color: #D3D3D3;
}

.nav-list a.dark:hover {
  color: #ff9601;
  background-color: transparent;
  transition: all 0.2s;
}

.nav-list a.active {
  color: #ae4ad9;
  background-color: #fff;
  transition: all 0.2s;
}

.nav-list .active.dark {
  color: #ff9601;
  background-color: #333;
}
