.story-detail {
  .title {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  .time-text {
    display: block;
    line-height: 1;
    font-size: 1.3rem;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
    padding: 5px 0 10px;
  }
}

.follower-action {
  margin: 5px 0 10px;
  font-size: 1.4rem;
  a:hover {
    text-decoration: underline;
    color: var(--purple--color);
  }
  a {
    span {
      text-transform: capitalize;
    }
  }
}

.follow {
  margin-top: 12px;
  button {
    margin-right: 6px;
    svg {
      font-size: 1.4rem;
    }
  }
}

.description {
  h3 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 10px 0;
    padding-bottom: 2px;
  }
  p {
    position: relative;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p.see-more {
    -webkit-line-clamp: unset;
  }
  a {
    font-size: 1.4rem;
  }
  a:hover {
    color: #ae4ad9;
    text-decoration: underline;
  }
  .expanded {
    -webkit-line-clamp: unset;
  }
  .mask-gradient {
    position: absolute; /* Đặt vị trí tuyệt đối để mask hoạt động */
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px; /* Chiều cao của mask (50% để mờ một nửa dưới) */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      white
    ); /* Gradient từ trong suốt đến trắng */
  }
}
.chapter-list {
  .heading {
    padding: 5px 10px 5px 5px;
  }
  h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 10px 0;
    padding-bottom: 2px;
  }
  nav {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .view-more {
    display: block;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 35px;
    &:hover {
      color: var(--purple--color);
      text-decoration: underline;
    }

    svg {
      padding-right: 4px;
    }
  }
}
.chapter-item {
  border-bottom: 1px dashed #ddd;
  padding: 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  span a {
    color: inherit;
    &:hover {
      color: #03f;
    }
  }
  span.small {
    color: #999;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
  }
}

.story-detail.dark {
  color: white;
  .description {
    a {
      color: var(--orange--color);
      &:hover {
        color: var(--red--color);
      }
    }
    h3 {
      color: var(--orange--color);
    }
  }

  .chapter-list {
    a,
    h2 {
      color: var(--orange--color);
    }
  }
  .chapter-item {
    a:hover {
      color: var(--red--color);
    }
  }
}
