.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.backGround {
  background: #f9f9f9;
}
.dark-backGround {
  background: #252525;
}
.pad-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .fill {
    padding: 0px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}
