.comment-site-nav {
  margin: 8px 0;
  font-size: 1.4rem;
  display: flex;
  border-bottom: 1px solid #ddd;
  li {
    color: var(--blue--heading);
    margin-right: 1px;
    margin-bottom: -1px;
    height: 100%;
    line-height: 1.42857143;
    border: 1px solid transparent;
    background-color: #ecf0f1;
    padding: 10px 15px;
    cursor: pointer;
    &:hover {
      color: var(--purple--color);
    }
  }
  li.active {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    border-top: 2px solid #721799;
  }
}

.comment-site-nav.dark {
  li {
    background-color: #423e3e;
    color: white;
    &:hover {
      color: var(--orange--color);
    }
  }
  li.active {
    background-color: #423e3e !important;
    border-top-color: #fd0405 !important;
    color: var(--orange--color) !important;
  }
}

.placeholder {
  overflow: hidden;
  font-size: 14px;
  color: #999;
  height: 70px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: text;
  border: 1px solid #bbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.comment-list {
  font-size: 1.4rem;
}

.box.dark {
  .author-name {
    color: var(--orange--color);
    &:hover {
      color: var(--red--color);
    }
  }
}
